.page-header
  %h1 Locations

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Address
      %th Website

  %tbody
    - @locations.each do |location|
      %tr
        %td= location.name
        %td= location.address
        %td= location.website
