#map.well{data: {locations: @locations.to_json, center: params[:search]}}

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Address

  %tbody
    - @locations.each do |location|
      %tr
        %td= link_to_if location.website?, location.name, location.website
        %td= location.address
