.page-header
  = link_to new_location_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Location
  %h1 Locations

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Address
      %th Website

  %tbody
    - @locations.each do |location|
      %tr
        %td= location.name
        %td= location.address
        %td= location.website
